.footer-container {
	color: #FFF;
	padding: 0px;
	margin: 0px 5rem;
	height: $footer_size;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-copyright {
	margin-bottom: 0px;
	padding-bottom: 1rem;
	padding-top: 1rem;
}