.footer-container {
	color: #FFF;
	padding: 0px;
	margin: 0px;
	min-height: $footer_size;
	backdrop-filter: blur(5px);
	background: rgb(18, 14, 22);
}

.footer-copyright {
	margin-bottom: 0px;
	padding-bottom: 1rem;
	padding-top: 1rem;
}