.header, .header-container {
}

.header-logo-container {
	height: auto;
	width: 100%;
	position: relative;
	text-align: center;
	position: relative;
}

.header-vertical-spacer {
	height: 30%;
	width: 100%;
	display: block;
	margin-top: 2rem;
}

.header-logo {
	display: block;
	width: 100%;
	transform: scale(130%);
}

@media screen and (min-aspect-ratio: 4/3) {
	.header-container {
		width: 80%;
	}

	.header-vertical-spacer {
		width: 100%;
		display: block;
	}
}