#header-container {
	position: relative;
	height: 5em;
	font-size: 12pt;
}

#header-menu-spacer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#header-menu-container {
	letter-spacing: 0;
	text-align: left;
	font-size: 0;

	.menu {
		height: 100%;
	}

	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		height: 100%;
		display: inline-block;
		text-align: left;
		font-size: 0;

		li.current-menu-item {
			a {
				background-color: rgba(0, 0, 0, 0.5);
				color: rgba(255, 255, 255, 0.8);
				text-decoration: None;
			}
		}
	}

	.menu-item {
		display: inline-block;
		height: 100%;
		line-height: 5em;
		margin: 0px;
		padding: 0px;
		font-size: 12pt;
		overflow: visible;
		position: relative;

		a {
			display: block;
			height: 100%;
			color: rgba(255, 255, 255, 0.8);
			padding-left: 1em;
			padding-right: 1em;
			transition: background-color 0.2s;

			&:hover {
				background-color: #301934;
				color: rgba(255, 255, 255, 0.8);
				text-decoration: none;
			}
		}

		ul.sub-menu {
			line-height: 5em;
			position: absolute;
			display: none;
			left: 0;
			background: rgba(255, 255, 255, 0.75);
			text-align: left;
			min-width: 100%;
			min-width: 10rem;
			width: auto;
			height: auto;
			z-index: 100;

			li {
				width: 100%;
				height: auto;
				line-height: 2em;

				ul.sub-menu {
					position: absolute;
					right: -100%;
				}

				a {
					padding: 1em;
				}
			}
		}

		&:hover {
			ul.sub-menu {
				display: inline;
			}
		}
	}

	#search-icon {
		display: block;
		color: white;
		padding: 0 20px 0 20px;
		float: right;

		&:hover {
			background-color: #301934;
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			cursor: pointer;
		}
	}
}