#header-container {
	position: relative;
	height: 5em;
	font-size: 12pt;
}

#menu-logo-container {
	display: block;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: url('../img/menu-logo.png');
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 10em;
	left: 0;
	top: 0;
	bottom: 0;
	filter: invert(0);
	transition: filter 0.2s;

	&:hover {
		filter: invert(1);
	}
}

#header-menu-container {
	position: absolute;
	left: 10em;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.75);
	padding-right: 1em;
	letter-spacing: 0;
	font-size: 0;
	text-align: right;

	.menu {
		height: 100%;
	}

	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		height: 100%;
		display: inline-block;
		text-align: right;

		li.current-menu-item {
			a {
				background-color: rgba(0, 0, 0, 0.5);
				color: rgba(255, 255, 255, 0.8);
				text-decoration: none;
			}
		}
	}

	.menu-item {
		display: inline-block;
		height: 100%;
		line-height: 5em;
		margin: 0px;
		padding: 0px;
		font-size: 12pt;

		a {
			display: block;
			height: 100%;
			vertical-align: middle;
			color: rgba(0, 0, 0, 0.8);
			padding-left: 1em;
			padding-right: 1em;
			transition: background-color 0.2s;

			&:hover {
				background-color: #301934;
				color: rgba(255, 255, 255, 0.8);
				text-decoration: none;
			}
		}

		ul {
			display: none;
		}
	}

	#search-icon {
		display: inline-block;
		color: black;
		padding: 0 20px 0 20px;

		&:hover {
			background-color: #301934;
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			cursor: pointer;
		}
	}
}