.page-title-container {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 0;
	margin-top: 5rem;
}

.page-title {
	padding: 1em;
	margin: 0;
}

.page-content-container {
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.9);
	margin: 0;
	padding: 1em;
}